.chatbg{

  background: url(images/homebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 

}


.chat-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 60%;
  margin-top: 90px;
  }
  
  .chat-messages {
    flex: 1;
    overflow-y: scroll; 
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  /* Webkit browsers */
  .chat-messages::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  
  /* Firefox */
  .chat-messages {
    scrollbar-width: none; /* Hides the scrollbar */
  }
  
  /* Internet Explorer and Edge */
  .chat-messages {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  }
  
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .chat-message.user {
    width: 70%;
    max-width: fit-content;
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: left;
  }
  
  .chat-message.bot {
    width: 70%;
    max-width: fit-content;
    background-color: #ffffff;
    align-self: flex-start;
    text-align: left;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .chat-input button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .chat-message ul {
    padding-left: 20px;
  }
  
  .chat-message li {
    list-style-type: disc;
  }