
/* Navbar styles */
.navbar {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.transparent {
  background-color: transparent;
  color: #284e95; /* Title color when transparent */
}

.navbar.solid {
  background-color: rgba(255, 255, 255, 0.9);
  color: #284e95; /* Title color when solid */
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  background: #284e95;
}

.login-button a {
  color: #fff!important;
  font-weight: 800;
  font-size: 19px;
  text-decoration: none;
}

.login-button:hover {
  background-color: #183a69;
}

@media (max-width: 768px) {
  .navbar-title {
      font-size: 1.2rem;
  }

  .login-button {
      padding: 6px 12px;
      font-size: 0.9rem;
  }

  .section {
      padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
      padding: 10px 15px;
  }

  .navbar-title {
      font-size: 1rem;
  }

  .login-button {
      padding: 5px 10px;
      font-size: 0.8rem;
  }
}



.navbar-links {
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: #333; /* Change to your preferred color */
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}