/* Navbar styles */
.navbar {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar.transparent {
  background-color: transparent;
  color: #284e95; /* Title color when transparent */
}

.navbar.solid {
  background-color: rgba(255, 255, 255, 0.9);
  color: #284e95; /* Title color when solid */
}

.navbar-title-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Inherit color from navbar */
}

.navbar-logo {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  margin-right: 10px; /* Space between logo and text */
}

.navbar-title-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-title-link:hover{
  color: #284e95;
}

.navbar.solid .navbar-title-link {
  color: #284e95;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar.solid .nav-link {
  color: #284e95;
}

.nav-link:hover {
  color: #284e95;
}

.login-button{
  background-color: #284e95;
}

.login-button a{
  color: #ffffff;
}

.login-button a:hover{
  color: #ffffff;
  border: none!important;
}

@media (max-width: 768px) {
  .navbar-title-link {
      font-size: 1.2rem;
  }

  .logout-button {
      padding: 6px 12px;
      font-size: 0.9rem;
  }

  .section {
      padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .navbar {
      padding: 10px 15px;
  }

  .navbar-title-link {
      font-size: 1rem;
  }

  .logout-button {
      padding: 5px 10px;
      font-size: 0.8rem;
  }
}
