/* Navbar Container */
.navbar {
  width: 100%;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-title-link:hover{
  color: #284e95;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 40px;
  transition: transform 0.3s ease-in-out;
}

.navbar-links.open {
  transform: translateX(0);
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.nav-link:hover{
  color:#284e95;
}

.navbar.solid .nav-link,
.navbar.solid .navbar-title-link {
  color: #284e95;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.solid {
  background-color: rgba(255, 255, 255, 0.9);
}


.login-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #284e95;
}

.login-button a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.login-button a:hover{
  color:#fff;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 20px; /* Increased height for better click area */
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: -50px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.navbar.solid .hamburger,
.navbar.solid .hamburger::before,
.navbar.solid .hamburger::after {
  background-color: #284e95;
}

.navbar-links.open .nav-link{
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 60px;
    right: 40px;
    flex-direction: column;
    background-color: rgba(40, 78, 149, 0.9);
    border-radius: 8px;
    padding: 10px 24px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar-links.open {
    transform: translateX(0);
    right:50px;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar-title-link {
    font-size: 1.2rem;
  }

  .login-button {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}
